* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

[class^="col-"] {
  float: left;
}

/* COLONNE WIDTH */


.col-50 {
  width: 50%;
}

/* -- UTILITY */

.down {
  padding-right: 7px;
}

li#vertical::after {
  content: "\007C";
  color: grey;
  padding-left: 8px;
  padding-right: 10px;
}

/* HEADER */

.bg-header {
  background-color: #F4F9FD;
}

.fixed {
  position: fixed;
  width: 100%;
}
/* NAV LEFT */
nav ul {
  list-style: none;
}

nav.nav-left ul li{
  display: inline-block;
  line-height: 80px;
}

nav.nav-left ul li a {
  text-decoration: none;
  color: #32495B;
}

/* NAV RIGHT */

nav.nav-right {
  text-align: right;
}

nav.nav-right ul li{
  display: inline-block;
  line-height: 80px;
  padding: 0 15px;
}

nav.nav-right ul li a.button {
  color: white;
  text-decoration: none;
  border: 1px solid #FE785A;
  background-color: #FE785A;
  border-radius: 5px;
  padding: 10px;
}


nav.nav-right ul li a.orange {
  color: #FE785A;
  background-color: #ffff;
}

.fa-search{
  color: #45D4FF;
}

.logo {
  width: 100%;
}
